numpy==1.22.1
scipy==1.7.3
scikit-image==0.19.1
imageio==2.14.1
opencv-python==4.5.5.62
matplotlib==3.5.1
attrdict==2.0.1
torch==1.10.2
torchvision==0.11.3
tensorboard==2.8.0
pytorch3d==0.3.0
pylsd-nova==1.2.0
tqdm==4.62.3
matplotlib_inline==0.1.7
IPython==8.12.3